*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
html,body{
    height: 100%;
    width: 100%
}
.page1{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( 150deg , rgb(255, 192, 74) , orangered);

}
.nav{
    width: 100%;
    background-color: transparent;
   color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 6vw;
    z-index: 99;
    position: fixed;
}
.nav .list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;

}
.nav .list h4{
    font-weight: 500;
    margin: 2px 26px;
    font-size: 13px;
   text-transform: uppercase;
}
.nav .list i{
    margin: 2px 20px;
}
.nav .header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin: 2px 20px;
}
.welcome{
    
    width: 100%;
    height: 94vh;
    position: relative;
   
}
.fanta{
    width:38%;
    position: absolute;
    left:30%;
    top: 20%;
    z-index: 8;
}
.orange-cut{
    position: absolute;
    left:33%;
    z-index: 7;
    width: 16%;
    top: 12%;
}
.orange{
    position: absolute;
    width: 31%;
    top: 48%;
    left: 45%;
    z-index: 9;
    
}
h1{
    font-size: 26vw;
    position: absolute;
    font-weight: 600;
    z-index: 6;
    color: white;
    text-transform: uppercase;
    left: 6%;
    top: 15%;
}
.leaf1{
    position: absolute;
    width: 20%;
    top: 15%;
}
.leaf2{
    width: 8%;
    position: absolute;
    top: 65%;
    left: 85%;
    transform: rotate(-52deg);
   
}
.leaf3{
    position: absolute;
    width: 10%;
    top: 25%;
    left: 84%;
    transform: rotate(-25deg);

}
.page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(97, 29, 29);
    display: flex;
    
}
.page2 .left,.page2 .right{
    height: 100vh;
    width: 50%;

}
.page2 .left{
    position: relative;
}
.page2 .right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-right: 20px;
    color: white;
}
.page2 .right .description{
    font-size: 10px;
}
.page2 .left svg{
    top: 30%;
    position: absolute;
    width: 80%;
}
.page2 .left svg path{
    fill: rgb(136, 18, 18);
}

.page3{
     background-image: linear-gradient( 150deg , rgb(255, 192, 74) , orangered);
     height: 100vh;
     width: 100%;
    
}

.cards{
    position: absolute;
    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .card{
     position: relative;
    height: 40vw;
    width: 25vw;
    margin: 100px 20px 20px 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cards .card:nth-child(1){
    background-color: rgb(160, 229, 160);
}
.cards .card:nth-child(2){
    background-color: burlywood;
}
.cards .card:nth-child(3){
    background-color: rgb(231, 231, 144);
}

.cards .card:nth-child(1)  button{
    background-color: rgb(255, 162, 0);
    z-index: 10;
    margin-top: 330px;
    color: #ffffff;
}
.cards .card:nth-child(2)  button{
    background-color: rgb(255, 162, 0);
      z-index: 10;
    margin-top: 330px;
    color: #ffffff;
}
.cards .card:nth-child(3) button{
    background-color:rgb(255, 162, 0);
    z-index: 10;
    margin-top: 330px;
    color: #ffffff;
     
}

.cards .card:nth-child(1) img{
    height: 35vw;
    position: absolute;
    top:-12%
}
/* .cards .card:nth-child(2) img{
   
} */
.cards .card:nth-child(3) img{
    height: 35vw;
    position: absolute;
    top:-12%
}
.cards .card button{
    border-radius: 50px;
    height: 3vw;
    width: 8vw;
    outline: none;
    border: none;
}
.cards .card h2{
    font-family: 'sans-serif';
    position: absolute;
    z-index: 10;
    
    margin-top: 240px;
}
.cards .card:nth-child(1) .lemon{
    position: absolute;
    height: 50%;
    top: -18%;
}
.cards .card:nth-child(3) .lemon{
    position: absolute;
    height: 53%;
    top: -18%;
}
